dialog.app-alert {
    min-width: 250px;
    border: none;
    padding: 0;
    border-radius: $md-default-radius;
    box-shadow: $md-big-shadow;

    &::backdrop {
        background: $md-backdrop-color;
    }
    
    h2 {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1.2rem 1.3rem 0 1.3rem;
        margin: 0;
    }

    h3 {
        font-size: 1rem;
        font-weight: normal;
        padding: 0 1.3rem .9rem 1.3rem;
        margin: 0;
        margin-top: .3rem;
    }

    div {
        padding: 0 1.3rem 1.2rem 1.3rem;
        color: $light-gray
    }

    button {
        border: none;
        background-color: transparent;
        padding: .6rem;
        margin: .5rem;
        margin-right: .6rem;
        float: right;
        color: $primary;
        font-weight: bold;
        font-size: .9rem;
    }
}