dialog.app-alert {
    min-width: 250px;
    border: none;
    padding: 0;
    border-radius: $md-default-radius;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);

    &::backdrop {
        background: $md-backdrop-color;
    }
    
    h2 {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1.2rem 1.3rem 0 1.3rem;
        margin: 0;
    }

    h3 {
        font-size: 1rem;
        font-weight: normal;
        padding: 0 1.3rem .9rem 1.3rem;
        margin: 0;
        margin-top: .3rem;
    }

    div {
        padding: 0 1.3rem 1.2rem 1.3rem;
        color: $light-gray
    }

    button {
        border: none;
        background-color: transparent;
        padding: .6rem;
        margin: .5rem;
        margin-right: .6rem;
        float: right;
        color: $primary;
        font-weight: bold;
        font-size: .9rem;
    }
}