@import "theme.scss";

div.app-badge {
    background-color: $primary;
    color: $white;
    border-radius: $ios-default-radius;
    padding: .2rem .5rem;
    margin: .1rem 1rem .1rem .1rem;
    display: inline-block;
    font-weight: bold;
    font-size: $small-font;
}