/* colors */
$md-backdrop-color: rgb(0, 0, 0, .3);
$ios-backdrop-color: rgb(0, 0, 0, .4);

$md-light-gray: #f4f5f8;

$ios-border-gray: #efefef;

$light-gray: #7b7b7b;

$primary: #3880ff;

/* border-radius */
$ios-default-radius: 13px;
$md-default-radius: 4px;