dialog.app-action-sheet {
    min-width: calc(100vw - 1rem);
    border: none;
    margin: auto 0.5rem .5rem 0.5rem;
    padding: 0;
    animation: dialogAnimation 0.3s ease-in-out;
    border-radius: var(--ios-default-radius);
    background: transparent;
}
dialog.app-action-sheet button:nth-last-child(2) {
    border-radius: 0 0 var(--ios-default-radius) var(--ios-default-radius);
}
dialog.app-action-sheet::backdrop {
    position: fixed;
    height: 100vh;
    background: rgb(0, 0, 0, 0.4);
    box-sizing: border-box;
}
dialog.app-action-sheet > p {
    color: var(--light-gray);
    padding: .9rem 1rem .9rem 1rem;
    margin: 0;
    text-align: center;
    background: #fff;
    font-size: .8rem;
}
dialog.app-action-sheet > button {
    width: 100%;
    background: #fff;
    border: none;
    padding: 1.1rem;
    text-align: center;
    border-top: 1px var(--ios-border-gray) solid;
}
dialog.app-action-sheet > button:hover {
    background: rgba(255, 255, 255, 0.8);
}
dialog.app-action-sheet button.app-action-sheet-cancel {
    margin-top: 0.5rem;
    background-color: #fff;
    border-radius: var(--ios-default-radius);
    font-weight: bold;
}

@media screen and (min-width: 500px) {
    dialog.app-action-sheet {
        min-width: 500px;
        width: 500px;
        position: relative;
        left: 50vw;
        transform: translateX(-50%);
    }
}